<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Cunliyouren</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagementProductUI</servlet-name>
    <servlet-class>com.clyr.web.UI.ManagementProductUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagementLoginUI</servlet-name>
    <servlet-class>com.clyr.web.UI.ManagementLoginUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagementAdminUI</servlet-name>
    <servlet-class>com.clyr.web.UI.ManagementAdminUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.clyr.web.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminPasswordModify</servlet-name>
    <servlet-class>com.clyr.web.controller.AdminPasswordModify</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadProduct</servlet-name>
    <servlet-class>com.clyr.web.controller.UploadProduct</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.clyr.web.controller.DeleteProduct</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.clyr.web.controller.UserRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductSearch</servlet-name>
    <servlet-class>com.clyr.web.controller.ProductSearch</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.clyr.web.controller.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserUpdate</servlet-name>
    <servlet-class>com.clyr.web.controller.UserUpdate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.clyr.web.controller.AdminLogout</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadMainPagePicture</servlet-name>
    <servlet-class>com.clyr.web.controller.UploadMainPagePicture</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MUserSearch</servlet-name>
    <servlet-class>com.clyr.web.controller.MUserSearch</servlet-class>
  </servlet>
















  <servlet-mapping>
    <servlet-name>ManagementProductUI</servlet-name>
    <url-pattern>/ManagementProductUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagementLoginUI</servlet-name>
    <url-pattern>/ManagementLoginUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagementAdminUI</servlet-name>
    <url-pattern>/ManagementAdminUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminPasswordModify</servlet-name>
    <url-pattern>/AdminPasswordModify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadProduct</servlet-name>
    <url-pattern>/UploadProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductSearch</servlet-name>
    <url-pattern>/ProductSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdate</servlet-name>
    <url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadMainPagePicture</servlet-name>
    <url-pattern>/UploadMainPagePicture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MUserSearch</servlet-name>
    <url-pattern>/MUserSearch</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>